<div class="ticket-column"  [class.scroll]="mode === 'squad'">
    <div class="sprint-header">
        <span class="sprint-title">{{ (sprint$ | async).name }}</span>
        @if ((sprint$ | async).startsAt.getFullYear === (sprint$ | async).startsAt.getFullYear) {
            <span class="sprint-date">{{ (sprint$ | async).startsAt | date:'dd. MMM' }} - {{ (sprint$ | async).endsAt | date:'dd. MMM' }}</span>
        } @else {
            <span class="sprint-date">{{ (sprint$ | async).startsAt | date:'dd. MMM yy' }} - {{ (sprint$ | async).endsAt | date:'dd. MMM yy' }}</span>
        }
    </div>
    <div class="risks">
        <div class="risk-heading" [ngClass]="riskStatus$ | async" i18n>
            Risks: {{ (risks$ | async).length }}
        </div>
        <div class="risk-body">
            @for (risk of risks$ | async; track risk.riskId) {
                <div class="risk-texts"> 
                    @if (mode !== 'squad') {
                        <span [class.accepted]="risk.accepted" class="risk-text">[{{risk.squadId | squadName | async}}]</span>
                    }
                    <span [class.accepted]="risk.accepted" class="risk-text">{{risk.text}}</span>
                </div>
            }
        </div>
        @if ((risks$ | async).length) {
        <button mat-button (click)="openRiskDialog()" i18n>Details/Add Risk</button>
        } @else {
        <button mat-button (click)="openRiskDialog()" i18n>Add Risk</button>
        }
    </div>
    <div class="tickets" [class.scroll]="mode === 'squad'" cdkDropList [id]="dropListId" [cdkDropListConnectedTo]="connectedDropLists$ | async" (cdkDropListDropped)="onTicketDrop($event)">
        <app-ticket-card cdkDrag [cdkDragData]="ticket" [ticket]="ticket" [mode]="mode" *ngFor="let ticket of tickets$ | async"></app-ticket-card>
    </div>
    @if (mode === 'squad') {
        <div class="stats">
            <div class="stat">
                <div class="stat-name" i18n>Capacity:</div>
                <div class="stat-value">{{ capacity$ | async }}%</div>
            </div>
            <div class="stat">
                <div class="stat-name" i18n>Background Noise:</div>
                <div class="stat-value">{{ backgroundNoise$ | async }}%</div>
            </div>
            <button mat-button (click)="editStats()" i18n>
                Edit
            </button>
        </div>
    }
</div>