<h2 mat-dialog-title i18n>Edit Capacity & Background Noise</h2>
<mat-dialog-content>
    <form class="d-flex flex-column form-column" style="margin-top: 1rem;" [formGroup]="formGroup" (ngSubmit)="saveClick()">
        <div i18n>Capacity</div>
        <div class="d-flex flex-row">
            <mat-slider style="flex-grow: 1;" [step]="0.5" [min]="0" [max]="100" discrete [displayWith]="formatLabel">
                <input matSliderThumb [formControlName]="'capacity'">
            </mat-slider>
            <mat-form-field style="width: 6rem;" appearance="outline">
                <span matTextSuffix>%</span>
                <input matInput [formControlName]="'capacity'" type="number">
              </mat-form-field>
        </div>
        <div i18n>Background Noise</div>
        <div class="d-flex flex-row">
            <mat-slider style="flex-grow: 1;" [step]="0.5" [min]="0" [max]="100" discrete [displayWith]="formatLabel">
                <input matSliderThumb formControlName="backgroundNoise">
            </mat-slider>
            <mat-form-field style="width: 6rem;" appearance="outline">
                <span matTextSuffix>%</span>
                <input matInput formControlName="backgroundNoise" type="number">
              </mat-form-field>
            </div>
        <mat-form-field>
            <mat-label>Note</mat-label>
            <textarea matInput formControlName="note"></textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="cancelClick()" i18n>Cancel</button>
    <button mat-flat-button (click)="saveClick()" i18n>Save</button>
</mat-dialog-actions>