<mat-card appearance="outlined" [class.highlight-unfullfilled]="isHighlightUnfullfilledDependency$ | async" [class.highlight-fullfilled]="isHighlightFullfilledDependency$ | async" [cdkContextMenuTriggerFor]="contextMenu" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
    <mat-card-header>
        <span>{{ ticket?.title }}</span>
        @if(mode === 'dependency') {
            <mat-chip style="margin-left: auto; height: 1.5rem !important;">
                <div class="squad-name">
                    <mat-icon>group</mat-icon>
                    <span>{{ ticket?.squadId | squadName | async }}</span>
                </div>
            </mat-chip>
        }
    </mat-card-header>
    <mat-card-content>
        <div class="dependency-container">
            @if(dependenciesCount$ | async) {
                <div class="item" [class.fullfilled]="dependenciesFullfilled$ | async" (click)="addDependency()">
                    <mat-icon  [matBadge]="dependenciesCount$ | async" [matBadgeOverlap]="true">
                        keyboard_tab
                    </mat-icon>
                </div>
            }
            @if(dependantsCount$ | async) {
                <div class="item" [class.fullfilled]="dependantsFullfilled$ | async" (click)="addDependency()">
                    <mat-icon  [matBadge]="dependantsCount$ | async " [matBadgeOverlap]="true">
                        start
                    </mat-icon>
                </div>
            }
            @if(sameSprintCount$ | async) {
                <div class="item" [class.fullfilled]="sameSprintFullfilled$ | async" (click)="addDependency()">
                    <mat-icon  [matBadge]="sameSprintCount$ | async" [matBadgeOverlap]="true">
                        link
                    </mat-icon>
                </div>
            }
        </div>
    </mat-card-content>
</mat-card>

<ng-template #contextMenu>
    <div class="example-menu" cdkMenu>
        <button class="example-menu-item" cdkMenuItem (click)="edit()" i18n>Edit</button>
        <button class="example-menu-item" cdkMenuItem (click)="addTicketAnotherSprint()" i18n>Duplicate in another sprint</button>
        <button class="example-menu-item" cdkMenuItem (click)="addDependency()" i18n>Edit Dependencies</button>
        <button class="example-menu-item" cdkMenuItem (click)="createDependencyTicket()" i18n>Create Dependency Ticket</button>
        <button class="example-menu-item" cdkMenuItem (click)="delete()" i18n>Delete</button>
    </div>
</ng-template>