.home-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

    .home-content {
        width: 800px;
        height: 100%;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        overflow: auto;

        .home-header {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;
        }

        .greeting {
            font-size: 2rem;
        }

        .period-card {
            margin-top: 2rem;

            .card-header {
                font-size: 1.4rem;
                margin-bottom: .5rem;
            }
        }
    }


}