/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

/* https://v18.material.angular.io/guide/theming#custom-theme */
/* https://github.com/angular/components/blob/18.2.x/src/material/schematics/ng-generate/m3-theme/README.md */
@use 'themes/m3-theme.scss' as m3-theme;

@include mat.core();

:root {
    @include mat.core-theme(m3-theme.$light-theme);
    @include mat.all-component-themes(m3-theme.$light-theme);
    @include mat.all-component-bases(m3-theme.$light-theme);
    @include mat.all-component-colors(m3-theme.$light-theme);
    @include mat.all-component-typographies(m3-theme.$light-theme);
    @include mat.all-component-densities(m3-theme.$light-theme);
    @include mat.system-level-colors(m3-theme.$light-theme);
    @include mat.system-level-typography(m3-theme.$light-theme);

    --md-extended-color-accept-color: rgb(64 104 54);
    --md-extended-color-accept-on-color: rgb(255 255 255);
    --md-extended-color-accept-color-container: rgb(192 239 176);
    --md-extended-color-accept-on-color-container: rgb(0 34 0);
    --md-extended-color-warn-color: rgb(129 85 18);
    --md-extended-color-warn-on-color: rgb(255 255 255);
    --md-extended-color-warn-color-container: rgb(255 221 183);
    --md-extended-color-warn-on-color-container: rgb(42 23 0);
}

[data-theme='dark'] {
    @include mat.core-theme(m3-theme.$dark-theme);
    @include mat.all-component-themes(m3-theme.$dark-theme);
    @include mat.all-component-bases(m3-theme.$dark-theme);
    @include mat.all-component-colors(m3-theme.$dark-theme);
    @include mat.all-component-typographies(m3-theme.$dark-theme);
    @include mat.all-component-densities(m3-theme.$dark-theme);
    @include mat.system-level-colors(m3-theme.$dark-theme);
    @include mat.system-level-typography(m3-theme.$dark-theme);

    --md-extended-color-accept-color: rgb(165 211 150);
    --md-extended-color-accept-on-color: rgb(17 56 11);
    --md-extended-color-accept-color-container: rgb(40 80 32);
    --md-extended-color-accept-on-color-container: rgb(192 239 176);
    --md-extended-color-warn-color: rgb(247 187 112);
    --md-extended-color-warn-on-color: rgb(70 42 0);
    --md-extended-color-warn-color-container: rgb(101 62 0);
    --md-extended-color-warn-on-color-container: rgb(255 221 183);
}

.scrollbar-hide::-webkit-scrollbar-track {
    background: #0000;
}
.scrollbar-hide::-webkit-scrollbar {
    width: 0px;
}

.scrollbar-large::-webkit-scrollbar-track {
    background: #0000;
    cursor: pointer
}
.scrollbar-large::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.scrollbar-large::-webkit-scrollbar-thumb {
    background-color: var(--sys-on-surface);
    border-radius: 10px;
    transition: background-color .3s ease;
}
.scrollbar-large::-webkit-scrollbar-thumb:hover {
    background-color: var(--sys-on-surface-variant);
}


.scrollbar::-webkit-scrollbar-track {
    background: #0000;
    cursor: pointer;
}
.scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--sys-on-surface);
    border-radius: 10px;
    transition: background-color .3s ease;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--sys-on-surface-variant);
}

.scrollbar-mini::-webkit-scrollbar-track {
    background: transparent;
}
.scrollbar-mini::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.scrollbar-mini::-webkit-scrollbar-thumb {
    background-color: var(--sys-on-surface);
    border-radius: 10px;

}
.scrollbar-mini::-webkit-scrollbar-thumb:hover {
    background-color: var(--sys-on-surface-variant);
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$displays: "flex", "none";

@each $display in $displays {
    .d-#{$display} {
        display: #{$display};
    }
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.form-column {
    width: 450px;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.floating-card {
    border-radius: .5rem;
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    /* shadow ring 👇 */
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
    padding: 2rem;
}

.ticket-column {
    width: calc(400px - 2rem);
    padding: 1rem;
    height: 100%;

    &.scroll {
        height: calc(100% - 2rem);
    }
}